p {
	color: #ffffff;
	font-size: 40px;
}

.div{
	width: 480px;
	height: 350px;
	border: 1px;
	background-color: #3D3272;
	float: left;
	padding: 30px;

	
}
.div2{
	width: 100%;
	height: 50px;
	border: 1px;
	background-color: #C20020;
	/*display: inline-block;*/
}
.div3{
	width: 100%;
	height: 50px;
	border: 1px;
}